{
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": true,
  "tabWidth": 4,
  "useTabs": false,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}