@import 'fonts'

$light_green = #E2FDF9
$green = #33B09D
$green_alt = #6ED1C2
$light_blue = #E3F7FF
$blue = #00B1FF
$blue_alt = #7AD1F7
$orange = #FFA069
$red = #FC565F
$light_red = #FFE5E6
$white = #FFF
$black = #383D40
$black_alternate = #777
$gray = #91939B
$gray_alternate = #ABADB9
$border = #DEDEDE
$border_alt = #EDEEF0
$border_alt2 = #9C9EAA

image_default =
    height: auto
    vertical-align: middle
    object-fit: cover

body
    ::-webkit-scrollbar-track
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1)
    	background-color: #f8f8fb
    	border-radius: 10px
    ::-webkit-scrollbar
    	width: 10px
    	background-color: #f8f8fb
    ::-webkit-scrollbar-thumb
    	border-radius: 10px
    	background-color: #C9CAD3

body
    overflow-x: hidden
    &.cms
        background-color: #f8f8fb
    &.no_click
        pointer-events: none
    &.no_scroll
        overflow-y: hidden

*,
*:before,
*:after
    user-select: none
    box-sizing: border-box
    margin: 0

h1,
h2,
h3,
h4,
h5
    font-weight: normal

img
    height: auto
    vertical-align: middle

/**
 * Default Loader */
.loader_wrapper
    position: fixed
    z-index: 999
    .background
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        background-color: rgba(0, 0, 0, 0.5)
    .wrapper
        display: flex
        align-items: center
        position: fixed
        top: 50%
        left: 50%
        z-index: 3
        text-align: center
        background-image: linear-gradient(to right, $red, $orange)
        box-shadow: 0px 10px 25px rgba(0,0,0,0.15)
        padding: 0 40px
        border-radius: 5px
        transform: translate(-50%, -50%)
        .loader
            display: inline-block
            position: relative
            width: 64px
            height: 64px
            div
                display: inline-block
                position: absolute
                left: 6px
                width: 13px
                background-color: $white
                animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
                &:nth-child(1)
                    left: 6px
                    animation-delay: -0.20s
                &:nth-child(2)
                    left: 26px
                    animation-delay: -0.10s
                &:nth-child(3)
                    left: 45px
                    animation-delay: 0
        .loader_text
            sf_pro_regular(1.8vh)
            color: $white
            margin-left: 10px

@keyframes loader
    0% {
        top: 6px
        height: 51px
    }
    50%, 100% {
        top: 19px
        height: 26px
    }


/**
 * Default Notification */
.notification
    position: relative
    .notification_icon
        .notif_icon_no_fill
            fill: transparent
            transition: .3s ease-in-out
        .notif_icon
            fill: transparent
            stroke: #abadb9
            stroke-miterlimit: 10
            stroke-width: 1.5px
            transition: .3s ease-in-out
        .notif_icon_alt
            fill: #abadb9
        &.active
            .notif_icon
                fill: $green
                stroke: $green
                transition: .3s ease-in-out
            .notif_icon_no_fill
                fill: $green
                transition: .3s ease-in-out
            .notif_icon_alt
                fill: $green
    &::before
        content: '●'
        position: absolute
        top: calc(0px - 15px)
        right: calc(0px - 5px)
        color: $green
        font-size: 20px
        opacity: 0
        transition: .3s ease-in-out
    .notification_box
        position: absolute
        right: 0
        width: 285px
        top: calc(0px + 100px)
        opacity: 0
        visibility: hidden
        background-color: $white
        border-radius: 10px
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1)
        transition: all .2s ease-in-out
        &.active
            top: calc(0px + 50px)
            opacity: 1
            visibility: visible
            transition: all .2s ease-in-out
        .wrapper
            height: 560px
            overflow-y: scroll
            .notification_wrapper
                display: flex
                flex-flow: row wrap
                align-items: flex-start
                justify-content: space-between
                text-decoration: none
                padding: 16px 20px
                border-radius: 0px
                background-color: transparent
                border-bottom: 1px solid $border_alt
                transition: .3s ease-in-out
                span
                    color: $gray_alternate
                    transition: .3s ease-in-out
                .notification_desc
                    flex: 0.9 0 50%
                    .notification_title
                        sf_pro_medium(1.5vh)
                        color: $black
                        padding-bottom: 10px
                    .notification_time
                        sf_pro_regular(1.4vh)
                        color: $gray_alternate
                &:hover
                    background-color: $light_green
                    transition: .3s ease-in-out
                    &:first-child
                        border-radius: 10px 10px 0 0
                    span
                        color: $green
                        transition: .3s ease-in-out
                &:last-child
                    border-bottom: none
        .notification_action
            display: block
            width: 100%
            text-align: center
            sf_pro_medium(1.6vh)
            color: $blue
            text-decoration: none
            padding: 10px 0
            border-radius: 0 0 10px 10px
            background-color: transparent
            border-top: 1px solid $border_alt
            transition: .3s ease-in-out
            &:hover
                background-color: $light_blue
                transition: .3s ease-in-out
    &.active
        &::before
            opacity: 1
            animation: blink 1s infinite alternate
            transition: .3s ease-in-out

/**
 * Default Buttons */
.action_success_btn
    display: inline-block
    width: 225px
    sf_pro_medium(1.6vh)
    text-decoration: none
    outline: none
    color: $green
    padding: 17px
    background-color: $light_green
    border: 1px solid $light_green
    border-radius: 3px
    position: relative
    text-align: center
    cursor: pointer
    user-select: none
    transition: .3s ease-in-out
    &.confirm
        width: 130px
    &.margin
        margin-left: 20px
    &.alternate
        background-color: $green
        border: 1px solid $green
        color: $white
        &:hover
            color: $green
            background-color: $light_green
            border: 1px solid $light_green
            transition: .3s ease-in-out
        &:focus
            color: $white
            background-color: $green_alt
            border: 1px solid $green_alt
            transition: .3s ease-in-out
    &:hover
        color: $white
        background-color: $green
        border: 1px solid $green
        transition: .3s ease-in-out
    &:focus
        color: $white
        background-color: $green_alt
        border: 1px solid $green_alt
        transition: .3s ease-in-out
.action_cancel_btn
    display: inline-block
    width: 225px
    sf_pro_medium(1.6vh)
    text-decoration: none
    outline: none
    color: $red
    padding: 17px
    background-color: $light_red
    border: 1px solid $light_red
    border-radius: 3px
    position: relative
    text-align: center
    cursor: pointer
    user-select: none
    transition: .3s ease-in-out
    &.margin
        margin-left: 20px
    &.confirm
        width: 130px
    &:hover,
    &:focus
        color: $light_red
        background-color: $red
        border: 1px solid $red
        transition: .3s ease-in-out
.action_back_btn
    display: inline-block
    sf_pro_medium(1.8vh)
    text-decoration: none
    outline: none
    color: $black
    padding: 10px
    background-color: transparent
    border: 1px solid transparent
    border-radius: 3px
    position: relative
    text-align: center
    cursor: pointer
    user-select: none
    text-transform: capitalize
    transition: .3s ease-in-out
    img
        margin-right: 10px
        margin-bottom: 3px
    &:hover
        color: $green
        background-color: $light_green
        border: 1px solid $light_green
        transition: .3s ease-in-out
    &:focus
        color: $white
        background-color: $green_alt
        border: 1px solid $green_alt
        transition: .3s ease-in-out
.action_btn
    display: inline-block
    width: 225px
    sf_pro_medium(1.6vh)
    text-decoration: none
    outline: none
    color: $blue
    padding: 17px
    background-color: $light_blue
    border: 1px solid $light_blue
    border-radius: 3px
    position: relative
    text-align: center
    cursor: pointer
    user-select: none
    transition: .3s ease-in-out
    &.margin
        margin-left: 20px
    &.alternate
        margin-left: 20px
        background-color: $blue
        border: 1px solid $blue
        color: $white
        &:hover
            background-color: $light_blue
            border: 1px solid $light_blue
            color: $blue
            transition: .3s ease-in-out
        &:focus
            border: 1px solid $blue_alt
            background-color: $blue_alt
            color: $white
            transition: .3s ease-in-out
    &:hover
        border: 1px solid $blue
        background-color: $blue
        color: $white
        transition: .3s ease-in-out
    &:focus
        border: 1px solid $blue_alt
        background-color: $blue_alt
        color: $white
        transition: .3s ease-in-out
.action_highlight
    sf_pro_regular(1.5vh)
    color: $green
    background-color: $light_green
    padding: 10px 15px
    span
        sf_pro_regular(1.2vh)
.close_wrapper
    position: absolute
    top: 0
    right: 0
    left: 0
    height: 100%
    z-index: 1
    background-color: rgba(0, 0, 0, 0.5)
    margin: 0 5px
    .close_icon
        position: absolute
        width: 20px
        height: 20px
        top: calc(0% + 10px)
        right: calc(0% + 10px)
        z-index: 3
        &::before
            content: ''
            position: absolute
            top: 0
            right: calc(0% + 8px)
            width: 2px
            height: 20px
            background-color: $white
            transform: rotate(45deg)
        &::after
            content: ''
            position: absolute
            top: 0
            right: calc(0% + 8px)
            width: 2px
            height: 20px
            background-color: $white
            transform: rotate(-45deg)

/**
 * Default Modal */
.default_modal
    position: fixed
    top: 0
    left: 0
    z-index: 4
    width: 100%
    height: 100%
    .background
        position: fixed
        z-index: 3
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.5)
    #default_form
        margin: 0 auto
        .modal_wrapper
            position: relative
            background-color: $white
            box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05)
            border-radius: 5px
            .form_title
                position: relative
                sf_pro_bold(2.2vh)
                color: $black
                padding: 40px
                border-bottom: 1px solid $border
            .form_close
                position: absolute
                width: 20px
                height: 20px
                top: calc(0% + 10px)
                right: calc(0% + 10px)
                &::before
                    content: ''
                    position: absolute
                    top: 0
                    right: calc(0% + 8px)
                    width: 2px
                    height: 20px
                    background-color: $border_alt2
                    transform: rotate(45deg)
                &::after
                    content: ''
                    position: absolute
                    top: 0
                    right: calc(0% + 8px)
                    width: 2px
                    height: 20px
                    background-color: $border_alt2
                    transform: rotate(-45deg)
            .modal_main_group
                padding: 40px
                &.alternate
                    height: 600px
                    overflow-y: auto
                .form_footer_wrapper
                    margin-top: 40px
                    margin-bottom: 0
    .confirmation_wrapper
        position: fixed
        width: 600px
        z-index: 6
        top: 50%
        left: 50%
        background-color: $white
        padding: 80px 100px
        transform: translate(-50%, -50%)
        .confirmation_title
            neutra_text(2.5vh)
            color: $black
            text-align: center
            margin-bottom: 20px
        .confirmation_text
            neutra_text(2.5vh)
            color: $black
            text-align: center
            .text
                neutra_text(1.8vh)
                color: $red
                margin-bottom: 10px
        .confirmation_default
            user-select: none
            display: block
            sf_pro_regular(1.6vh)
            color: $black
            text-align: center
        .button_group
            margin-top: 50px
            justify-content: center
/**
 * Default Form */
.default_select
    width: 100%
    padding: 15px 40px 15px 15px
    sf_pro_regular(1.5vh)
    color: $black
    -webkit-appearance: none
    outline: none
    box-shadow: none
    border: 1px solid $border
    background-color: $white
    border-radius: 3px
    background-image: url('/icons/default-select-icon.svg')
    background-position: calc(100% - 15px) center
    background-repeat: no-repeat
    transition: .3s ease-in-out
    &.alternate
        background-image: url('/icons/custom-select-icon.svg')
    &:hover,
    &:focus
        border: 1px solid $black
        transition: .3s ease-in-out

input::-webkit-input-placeholder
    color: $gray

input:-ms-input-placeholder
    color: $gray

input::placeholder
    color: $gray

.default_text
    width: 100%
    background-color: $white
    border: 1px solid #ccc
    padding: 15px
    border-radius: 3px
    sf_pro_regular(1.5vh)
    color: $black
    outline: none
    resize: none
    transition: .3s ease-in-out
    &.disabled
        pointer-events: none
        user-select: none
        background-color: $border_alt
    &.date
        padding: 13px
        resize: none
    &.search
        background-image: url('/icons/search-icon.svg')
        background-position: calc(100% - 10px) center
        background-repeat: no-repeat
        background-size: 20px
    &.search_alternate
        background-image: url('/icons/search-alternate-icon.svg')
        background-position: calc(100% - 10px) center
        background-repeat: no-repeat
        background-size: 20px
        padding: 15px 40px 15px 15px
    &.number
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            -webkit-appearance: none
    &:hover,
    &:focus
        border: 1px solid $black
        transition: .3s ease-in-out

#default_form
    width: 100%
    max-width: 50%
    margin: 20px auto 0
    &.alternate
        max-width: 100%
        .form_flex_wrapper
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            .form_wrapper
                &.main
                    flex: 0 0 70%
                &.side
                    flex: 1 0 25%
                    margin-left: 40px
                .form_flex_radio_alternate
                    .radio_wrapper
                        flex: 0 0 100%
                        margin-top: 10px
                        .form_radio
                            justify-content: flex-start
    &.overlay
        position: fixed
        width: 800px
        top: 50%
        z-index: 4
        left: 50%
        transform: translate(-50%, -50%)
    .form_wrapper
        background-color: $white
        box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.05)
        margin-bottom: 60px
        border-radius: 5px
        .cms_table
            margin-bottom: 0
            tbody
                box-shadow: none
        .form_header_wrapper
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            padding: 30px
            border-bottom: 1px solid $border
            .title_wrapper
                flex: 0 0 auto
            .form_title
                flex: 0 0 auto
                sf_pro_bold(2.2vh)
                color: $black
            .form_label
                sf_pro_regular(1.5vh)
                color: $gray
                margin-top: 10px
            .action_success_btn
                width: auto
                display: flex
                flex-flow: row wrap
                justify-content: center
                align-items: center
                svg
                    margin-right: 10px
                    .add
                        fill: $green
                        transition: .3s ease-in-out
                    .add_sign
                        fill: transparent
                        stroke: $white
                        transition: .3s ease-in-out
                &:hover
                    background-color: $green
                    color: $white
                    .add
                        fill: $white
                        transition: .3s ease-in-out
                    .add_sign
                        fill: transparent
                        stroke: $green
                        transition: .3s ease-in-out
                &:focus
                    background-color: $green_alt
                    color: $white
                    .add
                        fill: $white
                        transition: .3s ease-in-out
                    .add_sign
                        fill: transparent
                        stroke: $green
                        transition: .3s ease-in-out
        .form_main_group
            padding: 30px
            &.alternate
                padding: 30px 30px 10px
                border-bottom: 1px solid $border
                .form_group
                    &.alternate
                        .validation_errors
                            top: calc(100% + 5px);
                    .validation_errors
                        top: calc(0% + 25px)
            &.alternate_2
                padding: 30px 20px
                height: 100%
                max-height: 500px
                overflow-y: auto
                overflow-x: hidden
                .cms_table
                    thead
                        tr
                            th
                                padding: 10px
                    tbody
                        tr
                            td
                                padding: 10px
                                &.table_actions
                                    .table_action_edit,
                                    .table_action_cancel
                                        padding: 10px 20px

    .form_footer_wrapper
        margin-bottom: 60px
        .form_check
            margin-bottom: 30px
        .form_flex
            align-items: center
            .form_check
                margin-bottom: 0px

.form_flex
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    &.select_all
        margin-bottom: 20px
    .flex_label
        flex: 0 0 100%
        sf_pro_semibold(1.8vh)
        color: $black
        margin-bottom: 20px
    .form_check
        flex: 1 0 35%
        margin-bottom: 20px
        &.select_all
            flex: 0 0 100%
        .action_check
            &.child
                margin-left: 30px
    .form_flex_radio
        flex: 0 0 48.33%
        margin-bottom: 30px
    .form_group
        flex: 0 0 48.33%
        &.check
            margin-bottom: 0
        &.flex
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            label
                flex: 0 0 100%
            .form_check
                margin-bottom: 0
            .form_flex_input
                position: relative
                flex: 0 0 48.33%
                &.active
                    pointer-events: all
                &.not_active
                    pointer-events: none
                    opacity: 0.5
                &.full
                    flex: 0 0 100%
                    .placeholder
                        right: calc(0px + 15px)
                .placeholder
                    position: absolute
                    top: 50%
                    right: calc(0px + 40px)
                    z-index: 1
                    sf_pro_regular(1.5vh)
                    color: $gray
                    transform: translateY(-50%)
                .up
                    position: absolute
                    top: 35%
                    right: calc(0px + 15px)
                    z-index: 1
                    width: 0
                    height: 0
                    border-left: 4px solid transparent
                    border-right: 4px solid transparent
                    border-bottom: 6px solid $green
                    transform: translateY(-50%)
                    cursor: pointer
                .down
                    position: absolute
                    top: 65%
                    right: calc(0px + 15px)
                    z-index: 1
                    width: 0
                    height: 0
                    border-left: 4px solid transparent
                    border-right: 4px solid transparent
                    border-top: 6px solid $green
                    transform: translateY(-50%)
                    cursor: pointer

.form_check
    position: relative
    display: flex
    align-items: center
    &.toggler
        flex: 0 0 120px
        justify-content: flex-end
        label
            sf_pro_regular(1.8vh)
            margin-bottom: 0
            margin-left: 0
        .action_check
            visibility: hidden
        .toggle
            position: absolute
            width: 55px
            height: 30px
            top: 50%
            left: 0
            z-index: 1
            background-color: $border_alt
            border-radius: 16px
            transform: translateY(-50%)
            transition: .3s ease-in-out
            &.active
                background-color: $light_green
                transition: .3s ease-in-out
                &::before
                    left: calc(100% - 30px)
                    background-color: $green
                    transition: .3s ease-in-out
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 31px
                height: 31px
                background-color: $gray
                border-radius: 50%
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
                transition: .3s ease-in-out
    &.default
        flex: 0 0 auto
    label
        flex: 0 auto
        margin-left: 10px
        margin-bottom: 0 !important
        sf_pro_regular(1.5vh)
        font-weight: normal
        color: $black
        a
            sf_pro_regular(1.8vh)
            color: $blue
            text-decoration: none
            transition: .3s ease-in-out
            &:hover
                color: $black
                transition: .3s ease-in-out
    .action_check
        -webkit-appearance: none
        outline: none
        flex: 0 0 21px
        width: 21px
        height: 21px
        background-image: url('/icons/uncheck-icon.svg')
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        transition: .3s ease-in-out
        &:checked
            background-image: url('/icons/check-icon.svg')
            transition: .3s ease-in-out
    .validation_errors
        position: absolute
        top: calc(100% + 5px)
        background-color: $red
        color: $white
        sf_pro_medium(1.4vh)
        z-index: 1
        padding: 5px 10px
        border-radius: 5px
        user-select: none
        left: 0
        &::before
            content: ""
            position: absolute
            bottom: calc(100% - 1px)
            width: 0
            height: 0
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            border-bottom: 7px solid $red
            left: 17px
            z-index: 1

.form_flex_radio
    position: relative
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    &.default
        flex: 0 0 auto
    label
        flex: 0 auto
        margin-left: 10px
        margin-bottom: 0
        sf_pro_regular(1.5vh)
        font-weight: normal
        color: $black
    .radio_label
        flex: 0 0 100%
        margin-left: 0px
        margin-bottom: 20px
        span
            color: $green
    .form_radio
        flex: 0 0 47.33%
        display: flex
        flex-flow: row wrap
        align-items: center
        label
            margin-bottom: 0px
        .action_radio
            -webkit-appearance: none
            outline: none
            width: 21px
            height: 21px
            background-image: url('/icons/unselected-icon.svg')
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            transition: .3s ease-in-out
            &:checked
                background-image: url('/icons/selected-icon.svg')
                transition: .3s ease-in-out

.form_flex_radio_alternate
    position: relative
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    margin-bottom: 30px
    &:last-child
        margin-bottom: 0
    label
        flex: 0 0 auto
        margin-left: 0
        margin-bottom: 0 !important
        sf_pro_regular(1.6vh)
        font-weight: normal
        color: $black
        span
            color: $green
    .validation_errors
        position: absolute
        top: calc(100% + 5px)
        background-color: $red
        color: $white
        sf_pro_medium(1.4vh)
        z-index: 1
        padding: 5px 10px
        border-radius: 5px
        user-select: none
        left: 0
        &::before
            content: ""
            position: absolute
            bottom: calc(100% - 1px)
            width: 0
            height: 0
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            border-bottom: 7px solid $red
            left: 17px
            z-index: 1
    .radio_wrapper
        flex: 0 0 30%
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        .form_radio
            flex: 0 0 47.33%
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: flex-end
            label
                margin-bottom: 0
                margin-left: 10px
            .action_radio
                -webkit-appearance: none
                outline: none
                width: 21px
                height: 21px
                background-image: url('/icons/unselected-icon.svg')
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                transition: .3s ease-in-out
                &:checked
                    background-image: url('/icons/selected-icon.svg')
                    transition: .3s ease-in-out

.form_group_disclaimer
    .form_disclaimer
        display: flex
        align-items: flex-start
        sf_pro_regular(14px)
        color: $gray
        text-align: left
        span
            margin-left: 10px

.form_group
    position: relative
    margin-bottom: 30px
    .limit
        sf_pro_regular(1.4vh)
        color: $gray
        text-align: right
    &.margin
        margin-left: 20px
    .action_forgot_text
        display: inline-block
        sf_pro_regular(1.3vh)
        color: $gray
        text-decoration: none
        margin-top: 5px
        transition: .3s ease-in-out
        &:hover
            color: $red
            transition: .3s ease-in-out
    .form_group_header
        sf_pro_bold(1.8vh)
        color: $black
        margin-bottom: 30px
    .form_group_body
        padding: 25px
        border: 1px solid $border
        border-radius: 5px
        sf_pro_regular(1.8vh)
        color: $black
        line-height: 1.5
        height: 100%
        max-height: 520px
        overflow-y: scroll
    label
        user-select: none
        display: block
        sf_pro_regular(1.6vh)
        font-weight: normal
        color: $black
        margin-bottom: 10px
        span
            color: $green
    .validation_errors
        position: absolute
        top: calc(100% + 5px)
        background-color: $red
        color: $white
        sf_pro_medium(1.4vh)
        z-index: 1
        padding: 5px 10px
        border-radius: 5px
        user-select: none
        left: 0
        &::before
            content: ""
            position: absolute
            bottom: calc(100% - 1px)
            width: 0
            height: 0
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            border-bottom: 7px solid $red
            left: 17px
            z-index: 1

.preview_image_wrapper
    display: flex
    flex-flow: row wrap
    align-items: flex-start
    margin-top: 20px
    overflow-y: auto
    overflow-x: hidden
    padding: 0 5px
    height: 100%
    max-height: 500px
    .preview
        position: relative
        margin: 0 0 10px
        padding: 0 5px
        flex: 0 0 33.33%
        img
            width: 100%
            height: 125px
            object-fit: cover

.form_photo
    position: relative
    &.alternate
        margin: 0 5px
        #preview_image,
        label
            sf_pro_medium(2vh)
            width: 100%
            &::before
                content: unset
            span
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: center
                top: 50%
                transform: translateY(-50%)
                svg
                    margin-right: 10px
    .validation_errors
        position: absolute
        top: calc(100% + 5px)
        background-color: $red
        color: $white
        sf_pro_medium(1.4vh)
        z-index: 1
        padding: 5px 10px
        border-radius: 5px
        user-select: none
        left: 0
        &::before
            content: ""
            position: absolute
            bottom: calc(100% - 1px)
            width: 0
            height: 0
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            border-bottom: 7px solid $red
            left: 17px
            z-index: 1
    #preview_image
        position: absolute
        top: 0
        z-index: 0
        width: 125px
        height: 125px
        border-radius: 6px
    .action_photo
        opacity: 0
        visibility: hidden
        position: absolute
        width: 0
    label
        position: relative
        z-index: 1
        display: block
        width: 125px
        height: 125px
        border: 2px dashed $border
        background-color: transparent
        border-radius: 6px
        sf_pro_regular(1.6vh)
        color: $blue
        opacity: 1
        transition: .3s ease-in-out
        &.active
            background-color: rgba(255, 255, 255, 0.8)
            opacity: 0
            transition: .3s ease-in-out
        &::before
            content: url('/icons/add-icon.svg')
            position: absolute
            z-index: 1
            width: 30px
            height: 30px
            top: 40%
            left: 0
            right: 0
            margin: 0 auto
            transform: translateY(-50%)
        span
            position: absolute
            z-index: 1
            top: 60%
            right: 0
            left: 0
            text-align: center
        &:hover
            border: 2px dashed $blue
            transition: .3s ease-in-out
            &.active
                opacity: 1
                transition: .3s ease-in-out

.form_select_custom
    position: relative
    span
        display: block
        width: 100%
        padding: 15px 40px 15px 15px
        sf_pro_regular(1.5vh)
        color: $black
        -webkit-appearance: none
        outline: none
        box-shadow: none
        border: 1px solid $border
        background-color: $white
        border-radius: 3px
        background-image: url('/icons/custom-select-icon.svg')
        background-position: calc(100% - 15px) center
        background-repeat: no-repeat
        transition: .3s ease-in-out
        &:hover,
        &:focus
            border: 1px solid $black
            transition: .3s ease-in-out
    .form_check_custom
        display: none
        position: absolute
        width: 100%
        z-index: 1
        padding: 15px
        background-color: $white
        border: 1px solid $black
        &.active
            display: block
        .check_custom
            display: flex
            align-items: center
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0
            .action_check
                -webkit-appearance: none
                outline: none
                flex: 0 0 21px
                width: 21px
                height: 21px
                background-image: url('/icons/uncheck-icon.svg')
                background-position: center
                background-repeat: no-repeat
                background-size: cover
                transition: .3s ease-in-out
                &:checked
                    background-image: url('/icons/check-icon.svg')
                    transition: .3s ease-in-out
            label
                margin-bottom: 0
                margin-left: 10px

.form_disclaimer
    user-select: none
    display: block
    sf_pro_regular(1.6vh)
    color: $black
    margin-bottom: 40px
    text-align: center

.button_group
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: flex-end
    .action_btn,
    .action_cancel_btn,
    .action_success_btn
        width: 180px

.note-tooltip
    sf_pro_regular(1.4vh)

.form_image_group
    margin-bottom: 20px
    label
        user-select: none
        display: block
        sf_pro_regular(1.6vh)
        font-weight: normal
        color: $black
        margin-bottom: 10px
      strong
        sf_pro_semibold(1.4vh)
        font-weight: normal
    .action_image
        position: absolute
        bottom: 10px
        opacity: 0
    .action_image_label
        position: relative
        text-transform: none
        cursor: pointer
        &::before
            content: 'Browse'
            color: $blue
            position: absolute
            top: 50%
            right: 0
            padding: 15px 25px
            border-radius: 0 3px 3px 0
            background-color: $light_blue
            border-left: 1px solid $border
            transform: translateY(-51%)
            transition: .3s ease-in-out
        &:hover,
        &:focus
            &::before
                color: $white
                background-color: $blue
                border-left: 1px solid $black
                transition: .3s ease-in-out
            & ~ .action_image_remove
                border-left: 1px solid $black
                border-right: 1px solid $black
                transition: .3s ease-in-out
        & ~ .action_image_remove
            sf_pro_regular(1.8vh)
            color: $red
            position: absolute
            top: 50%
            right: 0
            padding: 20px 25px
            background-color: #FFE5E6
            transform: translateY(-51%)
            border-left: 1px solid #ccc
            border-right: 1px solid #ccc
            border-top: none
            border-bottom: none
            outline: none
            transition: 0.3s ease-in-out
            &:hover,
            &:focus
                background-color: $red
                color: #FFE5E6
                transition: .3s ease-in-out
    .action_image_add
        display: inline-block
        width: 150px
        text-decoration: none
        outline: none
        sf_pro_regular(1.6vh)
        color: #295AAE
        padding: 17px
        background-color: #d3e3ff
        border: 1px solid #295AAE
        position: relative
        text-align: center
        cursor: pointer
        transition: .3s ease-in-out
        &:hover,
        &:focus
            color: $white
            background-color: #295AAE
            transition: .3s ease-in-out
    .form_tags_group
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        margin-bottom: 20px
        .preview_group
            flex: 0 0 30%
            img
                width: 100%
                height: 200px
                background-color: $white
                border-left: 1px solid #ccc
                object-fit: cover
        .tags_group
            flex: 0 0 68%
            .form_group
                &:last-child
                    margin-bottom: 0

.cms_table_toggler
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: flex-end
    margin-bottom: 40px
    .status
        background-color: $white
        padding: 12px 40px
        text-align: center
        sf_pro_medium(1.6vh)
        color: $black
        border-radius: 0px
        border-right: 1px solid $border
        box-shadow: 3px 3px 20px transparent
        transition: .3s ease-in-out
        &:last-child
            border-right: 1px solid transparent
        &.active
            position: relative
            z-index: 0
            color: $white
            background-color: $green
            border-radius: 5px
            box-shadow: 3px 3px 20px rgba(0,0,0,0.3)
            transition: .3s ease-in-out

.cms_table_input
    .header_wrapper
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-start
        padding: 0 20px
        .input_header
            flex: 1 0 10%
            sf_pro_semibold(1.6vh)
            color: $gray
            text-align: left
            padding: 20px 20px 20px 0
            background-color: transparent
            &:last-child
                padding: 20px 0
            &.image_upload
                flex: 1 0 25%
    .content_wrapper
        background-color: transparent
        transition: .3s ease-in-out
        padding: 0 20px
        .input_wrapper
            border-bottom: 2px dashed $border
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: flex-start
            .input_content
                flex: 1 0 10%
                sf_pro_regular(1.6vh)
                color: $black
                padding: 20px 20px 20px 0
                &:last-child
                    padding: 20px 0
                &.image_upload
                    flex: 1 0 25%
                    display: flex
                    align-items: center
                    justify-content: space-between
                    .action_cancel_btn
                        flex: 0 0 50%
                        padding: 13px
                    .action_btn
                        flex: 0 0 50%
                        padding: 13px
                        width: auto
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        justify-content: center
                        background-color: transparent
                        border: 1px solid transparent
                        svg
                            margin-right: 10px
                            .upload_image
                                fill: transparent
                                stroke: $blue
                                stroke-width: 1
                                transition: .3s ease-in-out
                        &:hover
                            background-color: $blue
                            color: $white
                            svg
                                .upload_image
                                    stroke: $white
                                    transition: .3s ease-in-out
                        &:focus
                            background-color: $blue_alt
                            color: $white
                            svg
                                .upload_image
                                    stroke: $white
                                    transition: .3s ease-in-out
            &:last-child
                border-bottom: 2px dashed transparent
        &:hover,
        &:focus
            background-color: #F8F8FB
            transition: .3s ease-in-out
    .no_results
        background-color: $white
        sf_pro_regular(1.6vh)
        color: $black
        padding: 20px 35px
        text-align: center
/**
 * Default Table */
.form_table
    .cms_table
        thead
            tr
                th
                    padding: 15px 20px
        tbody
            td
                padding: 10px 20px
.cms_table
    border-collapse: collapse
    width: 100%
    border-radius: 10px
    margin-bottom: 60px
    thead
        th
            sf_pro_semibold(1.6vh)
            color: $gray
            text-align: left
            padding: 15px 30px
            background-color: transparent
            &:first-child
                border-radius: 10px 0 0 0
            &:last-child
                border-radius: 0 10px 0 0
    tbody
        box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
        background-color: $white
        tr
            background-color: transparent
            border-bottom: 2px dashed $border
            transition: .3s ease-in-out
            td
                &.image_upload
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    .action_btn
                        display: flex
                        flex-flow: row wrap
                        align-items: center
                        justify-content: center
                        background-color: transparent
                        border: 1px solid transparent
                        svg
                            margin-right: 10px
                            .upload_image
                                fill: transparent
                                stroke: $blue
                                stroke-width: 1
                                transition: .3s ease-in-out
                        &:hover
                            background-color: $blue
                            color: $white
                            svg
                                .upload_image
                                    stroke: $white
                                    transition: .3s ease-in-out
                &.thumb
                    padding: 20px 0 20px 30px
                    img
                        width: 32px
                        height: 32px
                        border-radius: 50%
                sf_pro_regular(1.6vh)
                color: $black
                padding: 20px 30px
                .table_data_link
                    sf_pro_regular(1.6vh)
                    color: $blue
                    text-decoration: none
                &.table_actions
                    &.full
                        a
                            flex: 0 0 100%
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    justify-content: space-between
                    .table_action_text
                        &.red
                            color: $red
                    a
                        flex: 0 0 47%
                        text-align: center
                        text-decoration: none
                        sf_pro_medium(1.6vh)
                        padding: 10px 0
                        &.table_action_edit
                            border-radius: 3px
                            background-color: $light_blue
                            color: $blue
                            transition: .3s ease-in-out
                            &:hover
                                background-color: $blue
                                color: $white
                                transition: .3s ease-in-out
                        &.table_action_cancel
                            border-radius: 3px
                            background-color: $light_red
                            color: $red
                            transition: .3s ease-in-out
                            &:hover
                                background-color: $red
                                color: $white
                                transition: .3s ease-in-out
                        &.table_action_success
                            border-radius: 3px
                            background-color: $light_green
                            color: $green
                            transition: .3s ease-in-out
                            &:hover
                                background-color: $green
                                color: $white
                                transition: .3s ease-in-out
            &:last-child
                border-bottom: 2px dashed transparent
            &:hover,
            &:focus
                background-color: #F8F8FB
                transition: .3s ease-in-out
    .no_results
        text-align: center

.cms_table_taxonomy
    border-collapse: collapse
    width: 100%
    border-radius: 10px
    thead
        th
            sf_pro_semibold(1.6vh)
            color: $gray
            text-align: left
            padding: 10px 20px
            background-color: transparent
            &:first-child
                border-radius: 10px 0 0 0
            &:last-child
                border-radius: 0 10px 0 0
    tbody
        background-color: $white
        tr
            background-color: transparent
            border-bottom: 2px dashed $border
            transition: .3s ease-in-out
            td
                sf_pro_regular(1.6vh)
                color: $black
                padding: 20px
                &.table_actions
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    justify-content: space-between
                    &.full
                        a
                            flex: 0 0 100%
                    .table_action_text
                        &.red
                            color: $red
                    a
                        flex: 0 0 47%
                        text-align: center
                        text-decoration: none
                        sf_pro_medium(1.6vh)
                        padding: 10px 0
                        &.table_action_edit
                            border-radius: 3px
                            background-color: $light_blue
                            color: $blue
                            transition: .3s ease-in-out
                            &:hover
                                background-color: $blue
                                color: $white
                                transition: .3s ease-in-out
                        &.table_action_cancel
                            border-radius: 3px
                            background-color: $light_red
                            color: $red
                            transition: .3s ease-in-out
                            &:hover
                                background-color: $red
                                color: $white
                                transition: .3s ease-in-out
                        &.table_action_success
                            border-radius: 3px
                            background-color: $light_green
                            color: $green
                            transition: .3s ease-in-out
                            &:hover
                                background-color: $green
                                color: $white
                                transition: .3s ease-in-out
            &:last-child
                border-bottom: 2px dashed transparent
            &:hover,
            &:focus
                background-color: #F8F8FB
                transition: .3s ease-in-out
    .no_results
        text-align: center
/**
 * Default Accordion */
.cms_table_accordion
    width: 100%
    border-radius: 10px
    margin-bottom: 60px
    .header_wrapper
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-start
        .accordion_header
            flex: 0 0 25%
            sf_pro_semibold(1.6vh)
            color: $gray
            text-align: left
            padding: 20px 30px
            background-color: transparent
            &.action
                flex: 1 0 auto
            &:first-child
                border-radius: 10px 0 0 0
                padding: 20px 30px 20px 60px
            &:last-child
                border-radius: 0 10px 0 0
    .content_wrapper
        position: relative
        background-color: $white
        &.toggled
            .toggler
                transform: translateY(-50%) rotate(180deg)
                transition: .3s ease-in-out
            .content_headers
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09)
                border-bottom: 1px solid transparent
                transition: .3s ease-in-out
            .accordion_table
                opacity: 1
                transition: .3s ease-in-out
        &:last-child
            .content_headers
                border-bottom: 1px solid transparent
        .toggler
            position: absolute
            top: calc(0px + 40px)
            left: calc(0px + 25px)
            width: 0
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            border-top: 7px solid $green
            transform: translateY(-50%) rotate(0deg)
            cursor: pointer
            transition: .3s ease-in-out
        .content_headers
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: flex-start
            background-color: $white
            border-bottom: 1px solid $border
            box-shadow: 0px 3px 10px transparent
            transition: .3s ease-in-out
            .accordion_content
                flex: 0 0 25%
                padding: 20px 30px
                sf_pro_semibold(2vh)
                color: $green
                &:first-child
                    padding: 20px 30px 20px 60px
            .accordion_actions
                padding: 20px 30px
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: space-between
                &.action
                    flex: 1 0 auto
                a
                    flex: 0 0 47%
                    text-align: center
                    text-decoration: none
                    sf_pro_medium(1.6vh)
                    padding: 10px
                    &.accordion_action_edit
                        background-color: $light_blue
                        color: $blue
                        transition: .3s ease-in-out
                        &:hover
                            background-color: $blue
                            color: $white
                            transition: .3s ease-in-out
                    &.accordion_action_cancel
                        background-color: $light_red
                        color: $red
                        transition: .3s ease-in-out
                        &:hover
                            background-color: $red
                            color: $white
                            transition: .3s ease-in-out
                    &.accordion_action_success
                        background-color: $light_green
                        color: $green
                        transition: .3s ease-in-out
                        &:hover
                            background-color: $green
                            color: $white
                            transition: .3s ease-in-out
        .accordion_table
            flex: 0 0 100%
            height: 0px
            opacity: 0
            overflow: hidden
            transition: .3s ease-in-out
            .cms_table
                margin-bottom: 0px
                margin-top: 10px
                .padding_left
                    padding: 20px 30px 20px 60px
    .no_results
        background-color: $white
        sf_pro_regular(1.6vh)
        color: $black
        padding: 20px 35px
        text-align: center

/**
 * Default Toggler */
.cms_toggler
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: flex-end
    margin-bottom: 40px
    .cms_toggler_header
        flex: 1 0 auto
        neutra_text(2.4vh)
        line-height: 1.5
        color: $black
    .cms_toggler_title
        text-align: center
        padding: 15px 25px
        sf_pro_regular(1.8vh)
        color: $black
        background-color: $white
        cursor: pointer
        user-select: none
        box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
        transition: .3s ease-in-out
        &.alternate
            color: $white
            background-color: #295aae
            transition: .3s ease-in-out
            &.active,
            &:hover,
            &:focus
                color: #295aae
                background-color: #d3e3ff
                transition: .3s ease-in-out
        &.active,
        &:hover,
        &:focus
            background-color: $green
            color: $white
            transition: .3s ease-in-out

/**
 * Default Column */
.cms_col_alt_two
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    margin-bottom: 30px
    .wrapper
        flex: 0 0 48.66%
        margin-bottom: 30px
        background-color: $white
        box-shadow: 15px 25px 40px transparent
        text-decoration: none
        transition: .3s ease-in-out
        .list_wrapper
            height: 400px
            overflow-y: scroll
        &:hover
            box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
            transition: .3s ease-in-out
.cms_col_three
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: space-between
    margin-bottom: 30px
    .wrapper
        flex: 0 0 31.33%
        margin-bottom: 30px
        text-align: center
        background-color: $white
        padding: 120px 0
        box-shadow: 15px 25px 40px transparent
        text-decoration: none
        transition: .3s ease-in-out
        .total_image
            .back
                right: 0
                margin: 0 auto
        .total_count
            sf_pro_bold(4.5vh)
            color: $black
            margin: 15px 0
        .total_text
            sf_pro_light(1.6vh)
            color: $black
        .total_title
            sf_pro_bold(3vh)
            color: $black
            margin-top: 15px
        &:hover
            box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
            transition: .3s ease-in-out
.cms_col_four
    display: flex
    flex-flow: row wrap
    align-items: center
    margin-bottom: 30px
    .cms_col
        flex: 0 0 25%
        margin-bottom: 30px
        padding: 15px
        .wrapper
            display: block
            text-align: center
            background-color: $white
            padding: 100px 0
            box-shadow: 15px 25px 40px transparent
            text-decoration: none
            transition: .3s ease-in-out
            .total_image
                .back
                    right: 0
                    margin: 0 auto
            .total_count
                sf_pro_bold(4.5vh)
                color: $black
                margin: 15px 0
            .total_text
                sf_pro_light(1.6vh)
                color: $black
            .total_title
                sf_pro_bold(2.2vh)
                color: $black
                margin-top: 15px
            &:hover
                box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
                transition: .3s ease-in-out
        &.alternate
            .filter
                flex: 1 0 auto
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: space-between
                margin-bottom: 30px
                .filter_selector
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    .default_select
                        flex: 1 0 40%
                    .divider
                        margin: 0 15px
            .total_wrapper
                display: flex
                flex-flow: row wrap
                justify-content: space-between
                flex: 0 0 100%
                .wrapper
                    flex: 0 0 23%

.cms_taxonomy
    display: flex
    flex-flow: row wrap
    .taxonomy_wrapper
        padding: 0 20px 40px
        flex: 0 0 50%
    .taxonomy_body
        background-color: $white
        box-shadow: 15px 25px 40px transparent
        transition: .3s ease-in-out
        &:hover
            box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
            transition: .3s ease-in-out
        .taxonomy_header
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: space-between
            padding: 20px 20px 20px 35px
            border-bottom: 1px solid $border
            .header_title
                sf_pro_bold(2.2vh)
                color: $black
        .taxonomy_content
            padding: 20px
        .taxonomy_body
            padding: 20px 0
            height: 100%
            max-height: 500px
            overflow-y: auto
        .taxonomy_footer
            padding: 20px 35px
    .taxonomy_actions
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-end
        .action_btn
            width: auto
            display: flex
            flex-flow: row wrap
            justify-content: center
            align-items: center
            background-color: transparent
            border: 1px solid transparent
            svg
                margin-right: 10px
                .add
                    fill: $blue
                    transition: .3s ease-in-out
                .add_sign
                    fill: transparent
                    stroke: $white
                    transition: .3s ease-in-out
                .edit
                    fill: transparent
                    stroke: $blue
                    stroke-miterlimit: 10
                    stroke-width: 1.5
                    transition: .3s ease-in-out
                .edit_sign
                    fill: transparent
                    stroke: $blue
                    stroke-miterlimit: 10
                    stroke-width: 1.5
                    transition: .3s ease-in-out
            &:hover
                background-color: $blue
                color: $white
            &:focus
                background-color: $blue_alt
                color: $white
            &:focus
                .add_sign
                    fill: transparent
                    stroke: $blue_alt
                    transition: .3s ease-in-out
                .edit
                    fill: $blue_alt
                    stroke: $white
                    transition: .3s ease-in-out
            &:hover
                .add
                    fill: $white
                    transition: .3s ease-in-out
                .add_sign
                    fill: transparent
                    stroke: $blue
                    transition: .3s ease-in-out
                .edit
                    fill: $blue
                    stroke: $white
                    transition: .3s ease-in-out
                .edit_sign
                    stroke: $white
                    transition: .3s ease-in-out

.cms_autocomplete
    position: absolute
    top: 105%
    z-index: 2
    background-color: $white
    width: 100%
    padding: 10px 0
    border-radius: 3px
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.16)
    &.scrollable
        height: 340px
        overflow-y: auto
    .autocomplete_title
        padding: 10px 20px
        sf_pro_medium(1.5vh)
        color: $black
        background-color: transparent
        transition: .3s ease-in-out
        &:hover
            color: $green
            background-color: $light_green
            transition: .3s ease-in-out
.cms_summary
    display: block
    background-color: $white
    border-radius: 5px
    text-decoration: none
    margin-bottom: 60px
    box-shadow: 15px 25px 40px transparent
    animation: slide_in 1s
    transition: .3s ease-in-out
    .summary_header
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        padding: 20px 30px
        border-bottom: 1px solid $border
        .header_title
            sf_pro_medium(2.5vh)
            color: $black
    .summary_body
        display: flex
        flex-flow: row wrap
        align-items: center
        .column
            flex: 1 0 50%
            padding: 40px
            .total_label
                sf_pro_regular(1.5vh)
                color: $black
                padding-bottom: 20px
            .total
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: space-between
                padding-top: 10px
                .total_label
                    flex: 1 0 40%
                    padding-left: 20px
                    padding-bottom: 0
                .total_count
                    sf_pro_semibold(2vh)
                    color: $black
            &:first-child
                border-right: 1px solid $border
    &:hover
        box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
        transition: .3s ease-in-out

.wrapper
    .total_image
        position: relative
        .front
            opacity: 1
            transform: scaleX(1)
            transition: .3s ease-in-out
        .back
            position: absolute
            top: 0
            left: 0
            z-index: 1
            opacity: 0
            transform: scaleX(-1)
            transition: .3s ease-in-out
    &:hover
        .total_image
            .front
                opacity: 0
                transform: scaleX(-1)
                transition: .3s ease-in-out
            .back
                opacity: 1
                transform: scaleX(1)
                transition: .3s ease-in-out
/**
 * Default Alert */
.cms_alert
    &#success
        position: absolute
        top: 50px
        right: 0
        left: 0
        z-index: 999
        margin: 0 auto
        width: 300px
        text-align: center
        sf_pro_regular(1.8vh)
        color: $white
        background-image: linear-gradient(to right, $red, $orange)
        padding: 20px
        border-radius: 5px
        box-shadow: 0px 10px 12px rgba(0,0,0,0.15)

/**
 * Pagination */
#cms_pagination
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: center
    margin-top: 60px
    user-select: none
    .next,
    .prev
        sf_pro_regular(1.6vh)
        color: $white
        background-color: $green
        border: 1px solid $green
        padding: 8px 14px
        margin: 0 3px
        cursor: pointer
        transition: .3s ease-in-out
        &:hover,
        &:focus
            background-color: $light_green
            color: $green
            transition: .3s ease-in-out
        &.disabled
            background-color: #e2e2e2
            color: $black
            border: 1px solid #e2e2e2
            transition: .3s ease-in-out
    .number
        sf_pro_regular(1.6vh)
        color: $green
        background-color: $light_green
        border: 1px solid $green
        padding: 8px 14px
        margin: 0 3px
        cursor: pointer
        transition: .3s ease-in-out
        &:hover,
        &:focus,
        &.active
            background-color: $green
            color: $white
            transition: .3s ease-in-out
        &.active
            pointer-events: none

.no_contents
    sf_pro_regular(3vh)
    color: $border_alt2
    text-align: center
    padding-top: 100px

/**
 * Login */
#login_container
    position: relative
    height: 100vh
    background-image: linear-gradient(to right, $red, $orange)
    .cms_login
        position: absolute
        top: 50%
        left: 50%
        width: 400px
        padding: 40px
        border-radius: 20px
        background-color: $white
        box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.5)
        transform: translate(-50%, -50%)
        .logo
            display: flex
            flex-flow: row wrap
            align-items: center
            justify-content: center
            margin-bottom: 40px
            .logo_title
                neutra_text(1.8vh)
                line-height: 1.5
                color: $black
                text-transform: uppercase
                letter-spacing: 2px
                padding-left: 10px
    .button_group
        flex-flow: column
        &.alternate
            flex-flow: row wrap
            justify-content: space-between
            .action_cancel_btn,
            .action_success_btn
                width: 150px
        .action_success_btn
            margin-left: 0
            width: 100%

#admin_container
    display: flex
    flex-flow: row wrap
    /**
     * HeaderNav */
    .header
        position: fixed
        top: 0
        left: 0
        z-index: 2
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: flex-end
        background-color: $white
        width: 100%
        box-shadow: 0px 3px 10px rgba(0,0,0,0.09)
        .header_icons
            display: flex
            flex-flow: row wrap
            align-items: center
            padding-right: 30px
            .header_actions
                margin-right: 30px
                display: flex
                flex-flow: row wrap
                align-items: center
                .action_btn
                    display: flex
                    flex-flow: row wrap
                    justify-content: center
                    align-items: center
                    margin-right: 20px
                    svg
                        margin-right: 10px
                        .add,
                        .cart
                            fill: $blue
                            transition: .3s ease-in-out
                        .add_sign
                            fill: transparent
                            stroke: $white
                            transition: .3s ease-in-out
                        .cart_sign
                            fill: transparent
                            stroke: $blue
                            stroke-linecap: round
                            stroke-miterlimit: 10
                            transition: .3s ease-in-out
                    &:hover,
                    &:focus
                        .add,
                        .cart
                            fill: $white
                            transition: .3s ease-in-out
                        .add_sign
                            fill: transparent
                            stroke: $blue
                            transition: .3s ease-in-out
                        .cart_sign
                            fill: transparent
                            stroke: $white
                            stroke-linecap: round
                            stroke-miterlimit: 10
                            transition: .3s ease-in-out
                    &:last-child
                        margin-right: 0
        .header_select
            position: relative
            border-left: 1px solid #E2E2E2
            user-select: none
            &::before
                content: ''
                position: absolute
                top: 50%
                right: calc(0px + 30px)
                width: 0
                border-left: 7px solid transparent
                border-right: 7px solid transparent
                border-top: 7px solid #B1B1B1
                transform: translateY(-50%) rotate(0deg)
                transition: .3s ease-in-out
            .header_user
                padding: 20px 60px 20px 30px
                display: flex
                flex-flow: row wrap
                align-items: center
                cursor: pointer
                .user_picture
                    position: relative
                    text-transform: uppercase
                    background-image: linear-gradient(137deg, $red, $orange)
                    border-radius: 50%
                    margin-right: 15px
                    padding: 10px 14px
                    color: $white
                    sf_pro_regular(1.6vh)
                .user_name
                    sf_pro_regular(1.6vh)
                    color: $black_alternate
            .user_select
                position: absolute
                right: 15px
                top: calc(100% + 30px)
                z-index: 1
                width: 350px
                border-radius: 5px
                background-color: $white
                opacity: 0
                visibility: hidden
                box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05)
                transition: all .2s ease-in-out
                a
                    text-decoration: none
                    outline: none
                    display: block
                .select_header
                    padding: 20px
                    background-image: linear-gradient(to right, $red, $orange)
                    border-radius: 5px 5px 0 0
                    .header_name
                        sf_pro_regular(1.8vh)
                        color: $white
                    .header_role
                        sf_pro_light(1.4vh)
                        color: #F8F8FB
                        margin-top: 5px
                .select_footer
                    display: flex
                    justify-content: space-between
                    .select_item
                        position: relative
                        sf_pro_regular(1.6vh)
                        color: $black_alternate
                        transition: .3s ease-in-out
                        &.account
                            padding: 10px 20px 10px 40px
                            &::before
                                content: ''
                                position: absolute
                                top: 50%
                                left: calc(0%)
                                width: 15px
                                height: 15px
                                z-index: 2
                                background-image: url('/icons/default-select-icon.svg')
                                background-position: center
                                background-repeat: no-repeat
                                opacity: 0
                                transform: translateY(-50%) rotate(90deg)
                                transition: .3s ease-in-out
                            &:hover
                                &::before
                                    left: calc(0% + 15px)
                                    opacity: 1
                                    transition: .3s ease-in-out
                        &.logout
                            padding: 10px 40px 10px 20px
                            &::before
                                content: ''
                                position: absolute
                                top: 50%
                                right: calc(0%)
                                width: 15px
                                height: 15px
                                z-index: 2
                                background-image: url('/icons/default-select-icon.svg')
                                background-position: center
                                background-repeat: no-repeat
                                opacity: 0
                                transform: translateY(-50%) rotate(-90deg)
                                transition: .3s ease-in-out
                            &:hover
                                &::before
                                    right: calc(0% + 15px)
                                    opacity: 1
                                    transition: .3s ease-in-out
                        &:hover
                            color: $orange
                            transition: .3s ease-in-out

            &.active
                &::before
                    transform: translateY(-50%) rotate(180deg)
                    transition: .3s ease-in-out
                .user_select
                    top: calc(100% + 0px)
                    visibility: visible
                    opacity: 1
                    transition: all .2s ease-in-out
    /**
     * Navbar Side */
    .navbar_container
        position: fixed
        z-index: 3
        flex: 0 0 70px
        width: 70px
        transition: .3s ease-in-out
        &.toggled
            &:hover
                flex: 0 0 300px
                width: 300px
                transition: .3s ease-in-out .2s
                .navbar
                    .logo
                        padding: 10px 10px 60px
                        transition: .3s ease-in-out .2s
                        .logo_title
                            neutra_text(1.8vh)
                            letter-spacing: 1px
                            padding-left: 10px
                            opacity: 1
                            visibility: visible
                            transition: .3s ease-in-out .2s
                    .nav_list
                        .item_wrapper
                            .nav_item
                                padding: 20px 30px 20px 70px
                                color: $black
                                transition: .3s ease-in-out .2s
                                &.nav_parent
                                    &::before
                                        opacity: 1
                                        visibility: visible
                                        transition: .3s ease-in-out
                                &.nuxt-link-exact-active,
                                &.nuxt-link-active
                                    transition: .3s ease-in-out .2s
                            .sub_wrapper
                                .sub_nav_list
                                    .sub_item_wrapper
                                        .sub_nav_item
                                            sf_pro_light(1.6vh)
                                            padding: 20px 30px 20px 70px
                                            transition: .3s ease-in-out .2s
        .navbar
            height: 100%
            border-right: 1px solid #E2E2E2
            background-color: $white
            .logo
                text-decoration: none
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: flex-start
                padding: 10px 2px 60px
                transition: .3s ease-in-out
                img
                    width: 65px
                    {image_default}
                    transition: .3s ease-in-out
                .logo_title
                    neutra_text(0)
                    line-height: 1.5
                    color: $black
                    padding-left: 0
                    text-transform: uppercase
                    visibility: hidden
                    letter-spacing: 0px
                    opacity: 0
                    transition: .3s ease-in-out
            .nav_list
                position: relative
                list-style: none
                padding: 0
                height: 840px
                overflow-x: hidden
                overflow-y: auto
                .item_wrapper
                    .nav_item
                        sf_pro_regular(1.6vh)
                        color: transparent
                        display: block
                        position: relative
                        padding: 20px 30px
                        border-left: 2px solid transparent
                        background-color: transparent
                        text-decoration: none
                        outline: none
                        z-index: 0
                        background-position: calc(0% + 20px) calc(50%)
                        background-repeat: no-repeat
                        background-size: 25px
                        transition: .3s ease-in-out .1s
                        & ~ .sub_wrapper
                            display: block
                            height: 0px
                            overflow: hidden
                            opacity: 0
                            transition: .15s ease-in-out
                        &.dashboard
                            background-image: url('/icons/navbar/dashboard-unselected.png')
                        &.booker
                            background-image: url('/icons/navbar/booker-unselected.png')
                        &.scheduler
                            background-image: url('/icons/navbar/scheduler-unselected.png')
                        &.customers
                            background-image: url('/icons/navbar/customers-unselected.png')
                        &.instructors
                            background-image: url('/icons/navbar/instructors-unselected.png')
                        &.supplies
                            background-image: url('/icons/navbar/supplies-unselected.png')
                        &.reporting
                            background-image: url('/icons/navbar/reporting-unselected.png')
                        &.admin
                            background-image: url('/icons/navbar/admin-unselected.png')
                        &.nav_parent
                            position: relative
                            &::before
                                content: ''
                                position: absolute
                                top: 50%
                                width: 0
                                height: 0
                                border-left: 7px solid transparent
                                border-right: 7px solid transparent
                                border-top: 7px solid $green
                                right: 25px
                                z-index: 1
                                transform: translateY(-50%) rotate(0deg)
                                opacity: 0
                                visibility: hidden
                                transition: .3s ease-in-out
                            &.nuxt-link-active
                                background-color: $light_green
                                border-left: 2px solid $green
                                transition: .3s ease-in-out .1s
                        &.nuxt-link-exact-active,
                        &:hover,
                        &:focus
                            background-color: $light_green
                            border-left: 2px solid $green
                            transition: .3s ease-in-out .1s
                            &.dashboard
                                background-image: url('/icons/navbar/dashboard-selected.png')
                            &.booker
                                background-image: url('/icons/navbar/booker-selected.png')
                            &.scheduler
                                background-image: url('/icons/navbar/scheduler-selected.png')
                            &.customers
                                background-image: url('/icons/navbar/customers-selected.png')
                            &.instructors
                                background-image: url('/icons/navbar/instructors-selected.png')
                            &.supplies
                                background-image: url('/icons/navbar/supplies-selected.png')
                            &.reporting
                                background-image: url('/icons/navbar/reporting-selected.png')
                            &.admin
                                background-image: url('/icons/navbar/admin-selected.png')
                    &.toggled
                        .nav_item
                            & ~ .sub_wrapper
                                opacity: 1
                                transition: .15s ease-in-out
                            &.nav_parent
                                position: relative
                                &::before
                                    transform: translateY(-50%) rotate(-180deg)
                                    transition: .3s ease-in-out
                    .sub_wrapper
                        .sub_nav_list
                            list-style: none
                            padding: 0
                            .sub_item_wrapper
                                .sub_nav_item
                                    position: relative
                                    display: block
                                    sf_pro_light(0vh)
                                    color: $black
                                    text-decoration: none
                                    outline: none
                                    padding: 20px 30px
                                    background-color: transparent
                                    border-left: 2px solid transparent
                                    transition: .3s ease-in-out
                                    &.nuxt-link-exact-active,
                                    &.nuxt-link-active,
                                    &:hover,
                                    &:focus
                                        background-color: $light_green
                                        border-left: 2px solid $green
                                        transition: .3s ease-in-out
                                    &::before
                                        content: ''
                                        position: absolute
                                        top: 50%
                                        left: 22px
                                        width: 20px
                                        height: 1px
                                        transform: translateY(-50%)
                                        background-color: $green
    /**
    * Breadcrumb
    */
    .breadcrumb
        .fixed
            width: 100%
            padding: 20px 40px
            display: flex
            flex-flow: row wrap
            align-items: center
            list-style: none
            li
                .home
                    color: $green
                .field_crumb
                    color: $black
                    margin-left: 5px
                .slash
                    sf_pro_light(1.6vh)
                    color: $black
                span
                    sf_pro_light(1.6vh)
                    text-transform: capitalize
                    text-decoration: none
                    outline: none
    .admin_flex
        flex: 1 0 50%
        .content
            padding-top: 79px
            position: relative
            flex: 1 auto
            background-color: #F8F8FB
            padding-left: 70px
            transition: .3s ease-in-out
            &.toggled
                padding-left: 300px
                transition: .3s ease-in-out .2s
                .footer
                    padding: 20px 40px 20px 340px
                    transition: .3s ease-in-out .2s
    .footer
        position: fixed
        left: 0
        bottom: 0
        width: 100%
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: space-between
        padding: 20px 40px 20px 110px
        background-color: $white
        transition: .3s ease-in-out
        opacity: 1
        .footer_label
            sf_pro_light(1.4vh)
            color: $gray

#admin
    #top_content
        display: flex
        flex-flow: row wrap
        justify-content: space-between
        align-items: center
        padding: 60px 40px 0
        .header_title
            neutra_text(3.6vh)
            line-height: 1.5
            color: $black
            text-transform: capitalize
            padding-left: 15px
            span
                margin-left: 10px
                sf_pro_bold(1.8vh)
                color: $border_alt2
        &.table
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09)
            padding: 60px 40px 40px
            .header_title
                padding-left: 0px
            .action_buttons
                flex: 0 0 100%
                margin-top: 20px
                display: flex
                flex-flow: row wrap
                align-items: center
                justify-content: flex-end
                .action_btn
                    display: flex
                    flex-flow: row wrap
                    justify-content: center
                    align-items: center
                    svg
                        margin-right: 10px
                        .add,
                        .cart
                            fill: $blue
                            transition: .3s ease-in-out
                        .add_sign
                            fill: transparent
                            stroke: $white
                            transition: .3s ease-in-out
                        .cart_sign
                            fill: transparent
                            stroke: $blue
                            stroke-linecap: round
                            stroke-miterlimit: 10
                            transition: .3s ease-in-out
                    &:hover,
                    &:focus
                        .add,
                        .cart
                            fill: $white
                            transition: .3s ease-in-out
                        .add_sign
                            fill: transparent
                            stroke: $blue
                            transition: .3s ease-in-out
                        .cart_sign
                            fill: transparent
                            stroke: $white
                            stroke-linecap: round
                            stroke-miterlimit: 10
                            transition: .3s ease-in-out
            .action_wrapper
                flex: 0 0 100%
                display: flex
                justify-content: space-between
                align-items: center
                .actions
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                .action_buttons
                    flex: 0 0 auto
                    margin-top: 0
                .total
                    sf_pro_medium(2.2vh)
                    color: $black
                    padding: 0 25px 0 40px
                .toggler
                    display: flex
                    flex-flow: row wrap
                    align-items: center
                    .status
                        background-color: $white
                        padding: 12px 40px
                        text-align: center
                        sf_pro_medium(1.6vh)
                        color: $black
                        border-radius: 0px
                        border-right: 1px solid $border
                        box-shadow: 3px 3px 20px transparent
                        transition: .3s ease-in-out
                        &:last-child
                            border-right: 1px solid transparent
                        &.active
                            position: relative
                            z-index: 0
                            color: $white
                            background-color: $green
                            border-radius: 5px
                            box-shadow: 3px 3px 20px rgba(0,0,0,0.3)
                            transition: .3s ease-in-out
            .filter_wrapper
                flex: 0 0 100%
                .filter_flex
                    display: flex
                    flex-flow: row wrap
                    align-items: flex-end
                    justify-content: flex-start
                    .form_group
                        margin-top: 20px
                        margin-bottom: 0
                        .default_select,
                        .default_text
                            width: 300px
                    .action_btn
                        display: inline-block
                        width: auto
                        padding: 14px 20px
    #content
        padding: 60px 40px
        position: relative
        &.alternate
            padding: 0
        &.alternate_2
            padding: 60px 20px
        .header_selector
            border-bottom: 1px solid $border
            padding: 0 40px 20px
            .default_select
                width: 210px
                sf_pro_regular(2.2vh)
        .information
            padding: 40px

/**
 * Animation */
.fade-enter-active,
.fade-leave-active
    transition: all .3s ease-in-out

.fade-enter,
.fade-leave-to
    opacity: 0

.page-enter-active,
.page-leave-active
    transition: all .3s ease-in-out

.page-enter,
.page-leave-to
    transform: translateY(100px)
    opacity: 0

.slide-enter-active,
.slide-leave-active
    transition: all .3s ease-in-out

.slide-enter,
.slide-leave-to
    opacity: 0
    transform: translateY(-20px)

.fade_in
    animation: fade_in .3s

.fade_out
    animation: fade_out .3s

/**
 * Fade */
@keyframes fade_in {
	from {
		opacity: 0
    }
	to {
		opacity: 1
    }
}

@keyframes fade_out {
	from {
		opacity: 1
    }
	to {
		opacity: 0
    }
}

/**
 * Slide In */
@keyframes slide_in {
	from {
		opacity: 0
        transform: translateX(100px)
    }
	to {
		opacity: 1
        transform: translateX(0px)
    }
}

/**
 * Blinking */
@keyframes blink {
	from {
		opacity: 0
    }
	to {
		opacity: 1
    }
}
