@font-face
    font-family: 'NeutraText-Bold'
    src: url('../fonts/NeutraText-Bold.woff2') format('woff2'),
        url('../fonts/NeutraText-Bold.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: auto

@font-face
    font-family: 'SFProDisplay-Medium'
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff')
    font-weight: 500
    font-style: normal
    font-display: auto

@font-face
    font-family: 'SFProDisplay-Regular'
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: auto

@font-face
    font-family: 'SFProDisplay-Ultralight'
    src: url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Ultralight.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: auto

@font-face
    font-family: 'SFProDisplay-Light'
    src: url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff')
    font-weight: normal
    font-style: normal
    font-display: auto

@font-face
    font-family: 'SFProDisplay-Bold'
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff')
    font-weight: bold
    font-style: normal
    font-display: auto

@font-face
    font-family: 'SFProDisplay-Semibold'
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff')
    font-weight: 600
    font-style: normal
    font-display: auto

neutra_text()
    font-family: NeutraText-Bold
    font-size: arguments

sf_pro_regular()
    font-family: SFProDisplay-Regular
    font-size: arguments

sf_pro_light()
    font-family: SFProDisplay-Light
    font-size: arguments

sf_pro_ultralight()
    font-family: SFProDisplay-Ultralight
    font-size: arguments

sf_pro_medium()
    font-family: SFProDisplay-Medium
    font-size: arguments
    font-weight: normal

sf_pro_semibold()
    font-family: SFProDisplay-Semibold
    font-size: arguments

sf_pro_bold()
    font-family: SFProDisplay-Bold
    font-size: arguments

asap_regular()
    font-family: Asap-Regular
    font-size: arguments
    font-weight: normal
