// @media (max-width: 1660px) and (min-width: 1441px)

// @media (max-width: 1440px) and (min-width: 1025px)
//     #admin_container
//         .navbar_container
//             .navbar
//                 .nav_list
//                     max-height: 400px

// @media (max-width: 1024px) and (min-width: 310px)
//
// @media (max-width: 767px) and (min-width: 310px)
